@model ViewModel.GameBoardModel
@using Services

@{
    IEnumerable<IEnumerable<BattleShips.Model.NavyBattlePiece>> board = Model.GameBoard(Model._navyBattlePieces);
}
<style type="text/css">
    .Water {
        background-color: skyblue;
        color: skyblue;
    }

    .DeadWater {
        background-color: deepskyblue;
        color: deepskyblue;
    }

    .Ship {
        background-color: gray;
        color: gray;
    }

    .DeadShip {
        background-color: darkred;
        color: darkred;
    }

    .battleField a {
        display: block;
        height: 100%;
    }

    .battleField {
        height: 30px;
        width: 30px;
        border: 1px solid lightgray;
    }


</style>

@{
    //foreach (var userGame in Model.Game.UserGames)
    //{

    if (Model.Page == "ShipPlacement")
    {
        <table class="row justify-content-between">
            <tbody>
                @foreach (IEnumerable<BattleShips.Model.NavyBattlePiece> row in board)
                {
                    <tr>
                        @foreach (Model.NavyBattlePiece navyBattlePiece in row)
                        {
                            <td class="@navyBattlePiece.PieceState battleField" data-placement="top" data-toggle="tooltip">
                                <a asp-page-handler="PlaceShips" asp-route-Id="@navyBattlePiece.Id"></a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (Model.Page == "InGame")
    {
        <table class="row justify-content-between">
            <tbody>
                @foreach (IEnumerable<BattleShips.Model.NavyBattlePiece> row in board)
                {
                    <tr>
                        @foreach (Model.NavyBattlePiece navyBattlePiece in row)
                        {
                            if (Model.UserGame.UserId == navyBattlePiece.UserGameId.ToString())
                            { 
                                <td class="border @navyBattlePiece.PieceState battleField" data-placement="top" data-toggle="tooltip">
                                    <a asp-page-handler="FireClick" asp-route-Id="@navyBattlePiece.Id"></a>
                                </td>
                            }                            
                        }
                    </tr>
                }
            </tbody>
        </table>
    }

    @*<p>@Model._igame.GetUserName(userGame.UserId)</p>*@
@*}*@
}
