@page
@model BattleShips.GameListModel
@{
    ViewData["Title"] = "GameList";
}
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <h1>Připojení ke hře</h1>
            <h2>Moje hry</h2>
            <p>
                <a class="btn btn-primary" href="/Game/GameSetup">Vytvořit novou hru</a>
            </p>
            <div class="table-responsive-sm">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(i => i.GameLists[0].GameState)</th>
                            <th>@Html.DisplayNameFor(i => i.GameLists[0].Player1)</th>
                            <th>@Html.DisplayNameFor(i => i.GameLists[0].Player2)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Games)
                        {
                            <tr>
                                <td>@item.GameState</td>
                                <td>@item.Owner.UserName</td>
                                <td>@item.PlayerOnTurn.UserName</td>
                                <td>
                                    <form method="post" asp-page-handler="startgame">
                                        <button class="btn btn-primary">Play</button>
                                        <input type="hidden" name="id" value="@item.GameId" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <h2>Další hry</h2>
            <div class="table-responsive-sm">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(i => i.GameLists[0].GameState)</th>
                            <th>@Html.DisplayNameFor(i => i.GameLists[0].Player1)</th>
                            <th>@Html.DisplayNameFor(i => i.GameLists[0].Player2)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Games)
                        {
                            <tr>
                                <td>@item.GameState</td>
                                <td>@item.Owner.UserName</td>
                                <td>@item.PlayerOnTurn.UserName</td>
                                <td>
                                    <form method="post" asp-page-handler="joingameonplacement">
                                        <button class="btn btn-primary">Join</button>
                                        <input type="hidden" name="id" value="@item.GameId" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <h2>Hráči</h2>
            <div class="table-responsive-sm">
                <table class="table table-striped table-bordered">
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>@item.Email</td>
                                <th></th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
